@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Poppins:wght@400;500;700&display=swap");
/* ---------------------------------
Variables
--------------------------------- */
/* ---------------------------------
end Variables
--------------------------------- */
/* ---------------------------------
Reset
--------------------------------- */
*, *:before, *:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  border: 0px solid transparent;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.a-reset {
  text-decoration: none;
  display: inline-block;
  color: #2F2D30;
}

/* ---------------------------------
end Reset
--------------------------------- */
/* ---------------------------------
Compontents
--------------------------------- */
section {
  overflow-x: hidden;
  padding-bottom: 5em;
}

.select-dropdown {
  position: relative;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 1em;
  width: 210px;
  height: 1em;
  padding: 18px 21px;
  background-color: #fff;
  -webkit-box-shadow: 5px 10px 20px -5px rgba(0, 175, 224, 0.1);
          box-shadow: 5px 10px 20px -5px rgba(0, 175, 224, 0.1);
}

.select-dropdown:hover svg {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.select-dropdown button {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.select-dropdown button:focus ~ svg {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select-dropdown .options {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.select-dropdown input {
  display: none;
}

.select-dropdown input:checked + label {
  display: block;
  z-index: 2;
  font-weight: 600;
  -webkit-transform: none !important;
          transform: none !important;
}

.select-dropdown label {
  position: absolute;
  width: 100%;
  z-index: 1;
  padding: 18px 21px;
  line-height: 1;
  background-color: #fff;
  cursor: pointer;
  -webkit-transition: background-color 0.2s, -webkit-transform 0.2s ease;
  transition: background-color 0.2s, -webkit-transform 0.2s ease;
  transition: background-color 0.2s, transform 0.2s ease;
  transition: background-color 0.2s, transform 0.2s ease, -webkit-transform 0.2s ease;
}

.select-dropdown label:hover {
  background-color: #d6d6d6;
}

.select-dropdown button:focus + .options input:not(:checked) + label, .select-dropdown .options label:active, .select-dropdown .options label:active ~ label {
  -webkit-transform: translateY(calc(var(--index) * 100%));
          transform: translateY(calc(var(--index) * 100%));
}

.select-dropdown button:focus + .options input:checked + label ~ label, .select-dropdown .options input:checked ~ label:active, .select-dropdown .options input:checked ~ label:active ~ label {
  -webkit-transform: translateY(calc((var(--index) - 1) * 100%));
          transform: translateY(calc((var(--index) - 1) * 100%));
}

.select-dropdown svg {
  position: absolute;
  width: 21px;
  top: 25%;
  right: 14px;
  z-index: 2;
  fill: currentColor;
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
}

.center {
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.spacing {
  height: 8em;
}

@media only screen and (max-width: 760px) {
  .spacing {
    height: 5em;
  }
}

p {
  margin-bottom: 0.4em;
}

h1, h2, h3 {
  line-height: 115%;
  margin: 0.6em 0px;
}

h1 {
  font-size: 48px;
}

@media only screen and (max-width: 760px) {
  h1 {
    font-size: 32px;
  }
}

h2 {
  font-size: 32px;
}

@media only screen and (max-width: 760px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  font-size: 22px;
}

@media only screen and (max-width: 760px) {
  h3 {
    font-size: 18px;
  }
}

.txt-sm {
  font-size: 12px;
}

@media only screen and (max-width: 760px) {
  .txt-sm {
    font-size: 12px;
  }
}

.bg-blue {
  background-color: #02B3E5;
  color: #fff;
  padding: 0.2em 0.5em;
}

.blue {
  color: #02B3E5;
}

.green {
  color: #00B07C;
}

.darkblue {
  color: #2D67B1;
}

.light {
  color: #fff;
}

.divider {
  height: 5px;
  width: 5em;
  background-color: #02B3E5;
  border-radius: 15px;
  margin-bottom: 1.5em;
}

.btn {
  padding: 0.7em 1.5em;
  cursor: pointer;
  font-weight: bold;
  margin: 0.5em auto;
  text-decoration: none !important;
  display: inline-block;
  text-align: center;
}

.btn.btn-prm {
  background-color: #02B3E5;
  color: #fff;
  border-radius: 15px;
  border: 2px solid #02B3E5;
}

.btn.btn-prm:hover {
  -webkit-box-shadow: 5px 20px 60px -10px rgba(0, 112, 255, 0.4);
          box-shadow: 5px 20px 60px -10px rgba(0, 112, 255, 0.4);
}

.btn.btn-sec {
  color: #02B3E5;
  border-radius: 15px;
  border: 2px solid #02B3E5;
}

.btn.btn-sec:hover {
  background-color: #02B3E5;
  color: #fff;
  border-width: 2px;
  -webkit-box-shadow: 5px 20px 60px -10px rgba(0, 112, 255, 0.4);
          box-shadow: 5px 20px 60px -10px rgba(0, 112, 255, 0.4);
}

.btn.btn-full {
  width: 100%;
  color: #02B3E5;
  border-radius: 15px;
  border: 2px solid #02B3E5;
}

.btn.btn-full:hover {
  background-color: #02B3E5;
  color: #fff;
  border-radius: 15px;
  border: 2px solid #02B3E5;
  -webkit-box-shadow: 5px 20px 60px -10px rgba(0, 112, 255, 0.4);
          box-shadow: 5px 20px 60px -10px rgba(0, 112, 255, 0.4);
}

.btn:hover {
  -webkit-transform: scale(1.03, 1.03);
          transform: scale(1.03, 1.03);
}

header {
  width: 100%;
  padding: 0px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1024;
  background: transparent;
}

.header {
  padding-right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1095px) {
  .header {
    position: relative;
  }
  .header .logo-box {
    padding: 2px;
  }
  .header img.logo {
    width: 7em;
  }
}

.header .btn-box button:not(last-child) {
  margin-right: 0.2em;
}

.header .btn-box .btn-sec {
  color: #fff;
  border-radius: 15px;
  border: 2px solid #02B3E5;
}

.header .btn-box .btn-sec:hover {
  border-width: 0px;
  -webkit-box-shadow: 5px 20px 60px -10px rgba(0, 112, 255, 0.4);
          box-shadow: 5px 20px 60px -10px rgba(0, 112, 255, 0.4);
  background-color: #fff;
  color: #02B3E5;
}

.header.active, .header.static {
  background: #fff;
}

.header.active .logo-box, .header.static .logo-box {
  background: #02B3E5;
}

.header.active .menu-toggle span, .header.static .menu-toggle span {
  background-color: #02B3E5;
}

.header.active .menu-box nav.menu ul li > a, .header.static .menu-box nav.menu ul li > a {
  color: #02B3E5;
}

.header.active .menu-box li.dropdown ul li > a, .header.static .menu-box li.dropdown ul li > a {
  color: #fff;
}

.header.active .btn-box .btn-sec, .header.static .btn-box .btn-sec {
  color: #02B3E5;
}

.header.active .btn-box .btn-sec:hover, .header.static .btn-box .btn-sec:hover {
  color: #02B3E5;
}

.header .logo {
  width: 10em;
}

.header .logo-box {
  margin: 0;
  background: transparent;
  padding: 1em 1.8em;
  position: relative;
}

.header .menu-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media only screen and (max-width: 1095px) {
  .header .menu-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3em 0px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 80%;
    background-color: #fff;
    z-index: 1;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  .header .menu-box nav.menu ul li > a {
    color: #02B3E5;
    border-bottom: 2px solid #02B3E5;
  }
  .header .menu-box nav.menu ul.sub-menu a {
    color: #fff;
  }
}

.header .menu-box.slide-menu {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header .menu-box.slide-menu .btn-box .btn-sec {
  color: #02B3E5;
}

.header nav.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0.5em;
}

@media only screen and (max-width: 1095px) {
  .header nav.menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    width: 100%;
  }
}

.header nav.menu a {
  background-color: transparent;
  padding: 1em 1.5em;
  display: block;
}

.header nav.menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
}

@media only screen and (max-width: 1095px) {
  .header nav.menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.header nav.menu li {
  list-style: none;
}

.header nav.menu li:hover ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header nav.menu li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-transform: capitalize;
}

.header nav.menu li > ul {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header nav.menu li > ul li {
  width: 100%;
}

.header nav.menu .dropdown li a {
  background-color: #02B3E5;
  color: #fff;
}

.header nav.menu .dropdown li a:hover {
  background-color: #2D67B1;
}

.header .icon-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1095px) {
  .header .icon-btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header .icon-btn > div.icon-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .icon-btn li.icon-box {
  list-style: none;
  margin-right: 0.5em;
}

.header .icon-btn .icon {
  width: 1.75em;
  height: 1.75em;
  background-color: #fff;
  border: 2px solid #02B3E5;
  padding: 1px;
  border-radius: 99px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: -3px;
}

.header .menu-toggle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 1.5em;
  height: 1.5em;
  display: none;
}

@media only screen and (max-width: 1095px) {
  .header .menu-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 2;
  }
}

.header .menu-toggle input.check {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.header .menu-toggle input.check:checked ~ span {
  background-color: #02B3E5;
}

.header .menu-toggle input.check:checked ~ span:nth-child(2) {
  -webkit-transform: rotate(45deg) translate(2px, 0px);
          transform: rotate(45deg) translate(2px, 0px);
}

.header .menu-toggle input.check:checked ~ span:nth-child(3) {
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

.header .menu-toggle input.check:checked ~ span:nth-child(4) {
  -webkit-transform: rotate(-45deg) translate(2px, 0px);
          transform: rotate(-45deg) translate(2px, 0px);
}

.header .menu-toggle span {
  height: 4px;
  background-color: #fff;
  border-radius: 15px;
}

.header .menu-toggle span:nth-child(2) {
  width: 100%;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.header .menu-toggle span:nth-child(3) {
  width: 70%;
}

.header .menu-toggle span:nth-child(4) {
  width: 100%;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}

.centering {
  display: block;
  text-align: center;
  margin: 1em auto;
  margin-bottom: 5em;
}

.galeri {
  padding: 5em 0px;
  padding-bottom: 0px;
}

.galeri .indent {
  margin: 3em 5%;
}

.galeri-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.galeri-item {
  position: relative;
  overflow: hidden;
  height: 20em;
}

.galeri-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.galeri-item:hover .galeri-content {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.galeri-content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #02b4e5bd;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

.galeri-content .iconify {
  display: block;
  font-size: 72px;
}

.galeri-content p {
  font-weight: bold;
}

.galeri .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f8f9ff;
  padding: 3em 0px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.galeri .brand div {
  display: block;
  width: 100%;
}

.galeri .brand div img {
  margin: auto;
  width: 100%;
  height: 2em;
  -o-object-fit: contain;
     object-fit: contain;
}

.hero-slider .slider-box {
  display: block;
}

.hero-slider .slider-box .slider-item {
  overflow: hidden;
  width: 70em;
  height: 35em;
  position: relative;
}

@media only screen and (max-width: 1095px) {
  .hero-slider .slider-box .slider-item {
    width: 50em;
    height: 32em;
  }
}

@media only screen and (max-width: 760px) {
  .hero-slider .slider-box .slider-item {
    width: 22em;
    height: 27em;
  }
}

.hero-slider .slider-box .slider-item .slider-img {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.hero-slider .slider-box .slider-item .slider-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero-slider .slider-box .slider-item .slider-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.82)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.82) 0%, rgba(0, 0, 0, 0) 100%);
  color: #fff;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-decoration: none;
}

footer {
  padding: 0;
  margin: 0;
}

footer .footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 4em 5%;
  background-color: #393939;
}

footer .footer-item {
  color: #fff;
  margin-bottom: 1.6em;
}

@media only screen and (max-width: 1095px) {
  footer .footer-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 47%;
            flex: 0 0 47%;
  }
}

@media only screen and (max-width: 760px) {
  footer .footer-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

footer .footer-item img {
  width: 10em;
}

footer .footer-item ul {
  list-style: none;
}

footer .footer-item ul li {
  margin: 0.5em 0px;
}

footer .footer-item ul li a {
  text-decoration: none;
  color: #fff;
}

footer .footer-item ul li a:hover {
  color: #02B3E5;
}

footer .footer-item ul li.icon-box a {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 12px;
  text-decoration: none;
  background-color: #444444;
  margin: 0.3em 0px;
}

footer .footer-item ul li.icon-box a .src .iconify {
  font-size: 48px;
  margin-right: 0.3em;
}

footer .footer-item li.kanper {
  width: 100%;
  background-color: #2F2D30;
  margin: 0.4em 0px;
  text-align: center;
}

footer .footer-item li.kanper:hover {
  background-color: #02B3E5;
  color: #fff;
}

footer .footer-item li.kanper > a {
  text-decoration: none;
}

footer .footer-item li.kanper > a:hover {
  color: #fff;
}

footer .footer-icon {
  background-color: #393939;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 5%;
  padding-bottom: 3em;
}

footer .footer-icon a.icon {
  border: 2px solid #fff;
  border-radius: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.4em;
}

footer .footer-icon a.icon:hover {
  background-color: #02B3E5;
}

footer .footer-icon a.icon .iconify {
  color: #fff !important;
  font-size: 18px;
  margin: 0.5em;
}

footer .footer-credit {
  background-color: #2F2D30;
  color: #fff;
  padding: 0.9em 5%;
  text-align: center;
}

.lightbox {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  height: 100vh;
  background-color: #02b4e5d7;
}

.lightbox .form-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: -2.5em;
  width: 90%;
}

.lightbox .form-box .close {
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  margin: 0.5em 0px;
  cursor: pointer;
}

.lightbox .form-box .close .iconify {
  color: #fff;
  font-size: 22px;
  margin-right: 0.3em;
}

.lightbox .form {
  background-color: #fff;
  max-width: 30em;
  border-radius: 15px;
  padding: 1.5em;
}

.lightbox .form input {
  background-color: #fff;
  margin: 0.3em 0px;
  padding: 0.8em;
  border: 1px solid #f0f0f0;
  width: 100%;
  border-radius: 15px;
  color: #393939;
}

.lightbox .form input:focus {
  border-color: #02B3E5;
  color: #02B3E5;
}

.lightbox .form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.lightbox .form .div-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 1em 0px;
}

.lightbox .form .div-form hr {
  display: block;
  height: 1px;
  width: 20%;
  margin: 0.7em;
  background-color: #02B3E5;
}

.lightbox .form .more-opsi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.lightbox .form .more-opsi .icon-opsi {
  border-radius: 5px;
  text-align: center;
  border: 1px solid #02B3E5;
}

.lightbox .form .more-opsi .icon-opsi .iconify {
  font-size: 22px;
  margin-bottom: -3px;
}

.lightbox .form .more-opsi .facebook .iconify {
  color: #2D67B1;
}

.lightbox .form form.daftar-form {
  display: none;
}

.lightbox .form form.masuk-form {
  display: none;
}

.lightbox .form .message {
  text-align: right;
}

#tabs-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-bottom: 2px solid #f0f0f0;
}

#tabs-nav li {
  list-style: none;
  padding: 0.5em 1.3em;
}

#tabs-nav li.tab-active {
  border-bottom: 3px solid #02B3E5;
  color: #02B3E5;
}

#tabs-nav li.tab-active a {
  color: #02B3E5;
  font-weight: bold;
}

#tabs-nav li a {
  text-decoration: none;
  text-align: center;
  color: #393939;
}

#tabs-nav li a img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

/* 
post Page
--------------------------------- */
.post {
  padding: 1em 5%;
  padding-bottom: 6em;
}

.post .head-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 0px;
}

@media only screen and (max-width: 760px) {
  .post .head-post {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.post .head-post .content {
  margin-bottom: 0.8em;
}

.post .head-post .content > strong {
  margin-right: 0.3em;
  margin-bottom: 0.4em;
}

.post .head-post .content > a span.bg-blue {
  margin-right: 0.3em;
}

.post .head-post .btn-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post .head-post .btn-post > a {
  padding: 0.4em;
  text-align: center;
  background-color: #f0f0f0;
  color: #02B3E5;
  margin: 0.2em;
}

.post .head-post .btn-post > a:hover {
  background-color: #02B3E5;
  color: #fff;
}

.post .head-post .btn-post > a .iconify {
  margin-bottom: -3px;
  font-size: 18px;
}

.post .head-post .btn-post .box-sosmed {
  background-color: #02B3E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0.2em;
  padding: 0.3em;
}

.post .head-post .btn-post .box-sosmed .icon {
  display: inline-block;
  color: #fff;
}

.post .head-post .btn-post .box-sosmed .icon:not(:last-child) {
  margin-right: 0.4em;
}

.post .head-post .btn-post .box-sosmed .icon .iconify {
  border: 1.2px solid #fff;
  border-radius: 50px;
  padding: 0.2em;
  font-size: 20px;
  margin-bottom: -4px;
}

.post .head-post .btn-post .box-sosmed .icon .iconify:hover {
  background-color: #fff;
  color: #02B3E5;
}

.post .div-post {
  height: 2px;
  background-color: #f0f0f0;
  width: 100%;
  margin-bottom: 1.3em;
}

.post .img-banner {
  display: block;
}

.post .img-banner img {
  width: 100%;
  margin: 0px auto;
}

.post .post-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 3em 0px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.post .post-box .content-post {
  border: 0px solid #393939;
  border-radius: 15px;
  -webkit-box-shadow: 5px 20px 60px -10px rgba(0, 112, 255, 0.4);
          box-shadow: 5px 20px 60px -10px rgba(0, 112, 255, 0.4);
  padding: 5%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
}

@media only screen and (max-width: 760px) {
  .post .post-box .content-post {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.post .post-box .content-post img.header-img {
  width: 100%;
}

.post .post-box .content-post .tag-box {
  margin: 1em 0px;
}

.post .post-box .content-post .tag-box .tag {
  padding: 0.1em 0.5em;
  background-color: #00B07C;
  color: #fff;
  border-radius: 5px;
}

.post .post-box .content-post .meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.4em;
}

.post .post-box .content-post .sosmed-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post .post-box .content-post .sosmed-box .sosmed-icon {
  color: #fff;
  padding: 0.8em 1.1em;
}

.post .post-box .content-post .sosmed-box .sosmed-icon.fb {
  background-color: #2D67B1;
}

.post .post-box .content-post .sosmed-box .sosmed-icon.tw {
  background-color: #02B3E5;
}

.post .post-box .content-post .sosmed-box .sosmed-icon.mail {
  background-color: #e6103e;
}

.post .post-box .content-post .sosmed-box .sosmed-icon.wa {
  background-color: #24a355;
}

.post .post-box .content-post .sosmed-box .sosmed-icon.tele {
  background-color: #0066ff;
}

.post .post-box .content-post .sosmed-box .sosmed-icon.more {
  background-color: #02B3E5;
}

.post .post-box .content-post .sosmed-box .sosmed-icon .iconify {
  font-size: 18px;
  margin-bottom: -3px;
}

.post .post-box .content-post .content .mobile-banner {
  display: none;
  margin: 2em 0px;
}

@media only screen and (max-width: 760px) {
  .post .post-box .content-post .content .mobile-banner {
    display: block;
  }
}

.post .post-box .content-post .content .mobile-banner a img {
  margin: 0.4em auto;
}

.post .post-box .content-post .content .mobile-banner .hori {
  width: 100%;
  max-height: 10em;
}

.post .post-box .content-post .content .mobile-banner .vertic {
  width: 100%;
  max-width: 10em;
}

.post .post-box .sidebar-post {
  padding: 0px 2em;
}

@media only screen and (max-width: 760px) {
  .post .post-box .sidebar-post {
    display: none;
  }
}

.post .post-box .sidebar-post > img {
  width: 100%;
  margin-bottom: 2em;
}

/* ---------------------------------
End post */
/* ---------------------------------
End Components
--------------------------------- */
/* ---------------------------------
Home Page Section
--------------------------------- */
.hero img.img-hero {
  width: 100%;
  height: 110vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  -webkit-filter: contrast(1.5) brightness(0.9) saturate(0.7) grayscale(0.06) hue-rotate(23deg);
          filter: contrast(1.5) brightness(0.9) saturate(0.7) grayscale(0.06) hue-rotate(23deg);
}

.hero .zakat {
  width: 85%;
  margin: 0px auto;
  margin-top: -20%;
  position: relative;
  z-index: 10;
}

@media only screen and (max-width: 1095px) {
  .hero .zakat {
    margin-top: -40%;
  }
}

@media only screen and (max-width: 760px) {
  .hero .zakat {
    margin-top: -65%;
  }
}

.hero .zakat-hitung {
  border-radius: 15px;
  background-color: #fff;
  -webkit-box-shadow: 10px 15px 75px -25px rgba(0, 103, 132, 0.38);
          box-shadow: 10px 15px 75px -25px rgba(0, 103, 132, 0.38);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

@media only screen and (max-width: 760px) {
  .hero .zakat-hitung {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.hero .zakat-hitung-col1 {
  padding: 1.5em;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.hero .zakat-hitung .div {
  background-color: #02B3E5;
  padding: 1px;
  border-radius: 15px;
  height: 20em;
  max-height: 90%;
}

@media only screen and (max-width: 760px) {
  .hero .zakat-hitung .div {
    height: 1px;
    width: 80%;
  }
}

.hero .zakat-hitung-col2 {
  padding: 1em;
}

@media only screen and (max-width: 760px) {
  .hero .zakat-hitung-col2 {
    text-align: center;
  }
}

.hero .zakat-hitung .zakat-tabs {
  margin: 1em 0px;
}

.hero .zakat-hitung .zakat-tabs #tabs-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-bottom: 2px solid #f0f0f0;
}

.hero .zakat-hitung .zakat-tabs #tabs-nav li {
  list-style: none;
  padding: 0.5em 1.3em;
}

.hero .zakat-hitung .zakat-tabs #tabs-nav li.tab-active {
  border-bottom: 3px solid #02B3E5;
  color: #02B3E5;
}

.hero .zakat-hitung .zakat-tabs #tabs-nav li.tab-active a {
  color: #02B3E5;
  font-weight: bold;
}

.hero .zakat-hitung .zakat-tabs #tabs-nav li a {
  text-decoration: none;
  text-align: center;
  color: #393939;
}

.hero .zakat-hitung .zakat-tabs #tabs-nav li a img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.hero .zakat-hitung .zakat-tabs #tabs-content {
  padding: 1em;
}

.hero .zakat-hitung .zakat-tabs #tabs-content fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5em 0px;
}

@media only screen and (max-width: 1095px) {
  .hero .zakat-hitung .zakat-tabs #tabs-content fieldset {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.hero .zakat-hitung .zakat-tabs #tabs-content fieldset > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0.5em 0px;
}

.hero .zakat-hitung .zakat-tabs #tabs-content fieldset span {
  padding: 1em;
  color: #fff;
  background-color: #02B3E5;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 1px solid #393939;
}

.hero .zakat-hitung .zakat-tabs #tabs-content fieldset input[type=number] {
  padding: 1em;
  border: 1px solid #393939;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 10em;
}

.hero .zakat-hitung .zakat-tabs #tabs-content fieldset input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.hero .zakat-hitung .zakat-tabs #tabs-content fieldset select.jenis-zakat {
  padding: 1em;
  border: 1px solid #393939;
  border-radius: 15px;
  cursor: pointer;
}

.hero .zakat-hitung .zakat-tabs #tabs-content fieldset select.jenis-zakat option {
  padding: 0.5em;
  cursor: pointer;
}

.donasi {
  padding: 1em 5%;
}

.donasi .control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em 0px;
}

.donasi .control > div {
  cursor: pointer;
}

.donasi .control .iconify {
  font-size: 32px;
}

.donasi-item {
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 5px 10px 20px -5px rgba(0, 175, 224, 0.1);
          box-shadow: 5px 10px 20px -5px rgba(0, 175, 224, 0.1);
  border-radius: 15px;
  overflow: hidden;
  margin: 2em auto;
}

.donasi-item:hover {
  -webkit-box-shadow: 5px 10px 20px -5px rgba(0, 175, 224, 0.18);
          box-shadow: 5px 10px 20px -5px rgba(0, 175, 224, 0.18);
}

.donasi-item .img-donasi {
  position: relative;
  padding: 0;
  margin: 0;
}

.donasi-item .img-donasi img {
  width: 100%;
  max-height: 17em;
  -o-object-fit: cover;
     object-fit: cover;
}

.donasi-item .img-donasi .img-content {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #02b4e59c;
  color: #fff;
  cursor: pointer;
  opacity: 0;
}

.donasi-item .img-donasi .img-content:hover {
  opacity: 1;
}

.donasi-item .img-donasi .img-content .iconify {
  font-size: 82px;
  margin: 0.3em 0px;
}

.donasi-item .content-donasi {
  padding: 1.5em;
}

.donasi-item .content-donasi a {
  text-decoration: none;
  color: #02B3E5;
}

.donasi-item .content-donasi a:hover {
  text-decoration: underline;
}

.donasi-item .content-donasi h3 {
  color: #02B3E5;
}

.donasi-item .content-donasi .stat-donasi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.5em;
}

.donasi-item .content-donasi .stat-donasi p.txt-sm {
  color: #b9b9b9;
}

.donasi-item .content-donasi .stat-donasi .tempo {
  text-align: right;
}

.donasi-item .content-donasi .progress {
  background-color: #f0f0f0;
  border-radius: 15px;
  height: 5px;
  width: 100%;
  margin: 0.5em 0px;
  overflow: hidden;
}

.donasi-item .content-donasi .progress .bar {
  background-color: #00B07C;
  width: 63%;
  height: 100%;
}

.berita {
  padding: 2em 5%;
  background-color: #f8f9ff;
}

.berita-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2em auto;
}

@media only screen and (max-width: 760px) {
  .berita-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.berita .berita-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 46.8%;
  background-color: #fff;
  overflow: hidden;
  border-radius: 15px;
  margin: 0.5em;
}

@media only screen and (max-width: 1095px) {
  .berita .berita-item {
    width: 100%;
    margin: 0.5em auto;
  }
}

.berita .berita-item:hover {
  -webkit-box-shadow: 5px 10px 20px -5px rgba(0, 175, 224, 0.1);
          box-shadow: 5px 10px 20px -5px rgba(0, 175, 224, 0.1);
}

.berita .berita-item .berita-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

@media only screen and (max-width: 760px) {
  .berita .berita-item .berita-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15%;
            flex: 0 0 15%;
  }
}

.berita .berita-item .berita-img img {
  width: 15em;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 760px) {
  .berita .berita-item .berita-img img {
    width: 10em;
  }
}

.berita .berita-content {
  padding: 1.5em;
}

@media only screen and (max-width: 760px) {
  .berita .berita-content a h3 {
    font-size: 14px;
  }
}

.berita .berita-content a {
  text-decoration: none;
}

.berita .berita-content .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.berita .berita-content .tags a {
  color: #00B07C;
  padding: 2px;
  font-size: 12px;
  border-radius: 1px 2px;
  margin-right: 0.1em;
  text-decoration: underline;
}

.berita .berita-content .tags a:not(:last-child):after {
  content: ',';
}

.berita .berita-content .tags .iconify {
  color: #393939;
  font-size: 12px;
  margin-right: 0.3em;
}

section.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7em 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1095px) {
  section.video {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

section.video .video-item {
  height: 30em;
  width: 100%;
  max-width: 45em;
  background-color: #2F2D30;
  border-radius: 15px;
  -webkit-box-shadow: 5px 20px 60px -10px rgba(0, 112, 255, 0.4);
          box-shadow: 5px 20px 60px -10px rgba(0, 112, 255, 0.4);
}

section.video .video-content {
  padding: 2em;
}

.download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2em 5%;
}

@media only screen and (max-width: 760px) {
  .download {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.download .down-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 47%;
          flex: 0 0 47%;
  border: 2px solid #02B3E5;
  margin: 1em;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 1095px) {
  .download .down-item {
    margin: 0.5em;
  }
}

@media only screen and (max-width: 760px) {
  .download .down-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.download .down-item:hover {
  border-width: 1px;
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.download .down-item img {
  width: 10em;
  height: 15em;
}

.download .down-item .down-content {
  margin: 0px 1em;
}

/* ---------------------------------
End Home Page Section
--------------------------------- */
/* ---------------------------------
Donasi Page Section
--------------------------------- */
.donasi-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 3em;
}

.donasi-page > .donasi-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
}

@media only screen and (max-width: 1095px) {
  .donasi-page > .donasi-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
  }
}

@media only screen and (max-width: 760px) {
  .donasi-page > .donasi-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0.3em;
  }
  .donasi-page > .donasi-item .img-donasi {
    width: 23em;
  }
  .donasi-page > .donasi-item .img-donasi .img-content {
    text-align: center;
  }
  .donasi-page > .donasi-item .img-donasi .img-content .iconify {
    margin: 0.1em;
  }
  .donasi-page > .donasi-item .img-donasi img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .donasi-page > .donasi-item .content-donasi {
    font-size: 12px;
  }
  .donasi-page > .donasi-item .content-donasi h3 {
    font-size: 12px;
  }
  .donasi-page > .donasi-item .content-donasi .stat-donasi .terkumpul *, .donasi-page > .donasi-item .content-donasi .stat-donasi .tempo * {
    font-size: 10px !important;
  }
  .donasi-page > .donasi-item .content-donasi .stat-donasi .txt-sm {
    font-size: 12px;
  }
  .donasi-page > .donasi-item .content-donasi > p {
    display: none;
  }
}

/* ---------------------------------
End Donasi Page Section
--------------------------------- */
/* ---------------------------------
Tentang Page Section
--------------------------------- */
.tentang {
  padding: 0px 5%;
  padding-bottom: 8em;
}

.tentang .brief {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1095px) {
  .tentang .brief {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tentang .brief .tentang-img {
    margin-left: auto;
    margin-right: 0;
  }
}

.tentang .profil-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 2em 0px;
}

@media only screen and (max-width: 1095px) {
  .tentang .profil-img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tentang .profil-img img {
    width: 24em;
    margin: 1em auto;
  }
}

.tentang .visi-misi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1095px) {
  .tentang .visi-misi {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tentang .visi-misi .img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-left: auto;
    margin-right: 0;
  }
}

/* ---------------------------------
End Tentang Page Section
--------------------------------- */
/*# sourceMappingURL=style.css.map */